

mat-card {
    max-width: 400px;    
    margin: 2em auto;
    text-align: center;
    background-color: aliceblue;
}
mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

mat-card-header{
    
}

input{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 0.5rem;
    padding: 2px 0 5px 5px;
    border-width: 0ch;
    
}


button {
    margin-bottom: 2rem;
    color: white;

    background: #3f51b5;
    border-radius: 0.5rem;
    border: none;
    width: 240px;
    height: 40px;
    font-weight: bold;
}

a{
    margin-bottom: 10rem;
    color: white;
    width: 240px;
    height: 40px;
}

p{
    width: 300px;
}

#signButton{
    background-color: aliceblue;
    color: #3f51b5;
}
   
#btn1{
    float: left;
    width: 30px !important;
}
    