mat-card {
    max-width: 400px;
 
    margin: 2em auto;
    text-align: left;
    background-color: aliceblue;
}
mat-card-content {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      height: 200px; 
      
}

label{
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
}

button{
    margin-top: 30px;
    color: white;
    background: #2d2d30;
    border-radius: 0.5rem;
    border: none;
    width: 220px;
    height: 40px;
    margin-left: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}

#da{
    float: left;

}

.postClass{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    background-color: #8989d6;


}

.username{
     font-weight: bold;
}


img {
    border: 1px solid #ddd;
    margin-left: 30%;
    border-radius: 4px;
    padding: 5px;
    width: 300px;


  }


a{
    width: fit-content;
    height: fit-content;
    }




    
    