<mat-card class="example-card">
  <button id="btn1" routerLink="">ᐊ</button>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()">Login</button>
      <p></p>
      <div>Don`t have an account? <button id="signButton" routerLink="/signup">Sign up here.</button></div>
    </mat-card-actions>
  </mat-card>
 