<form role="form" novalidate class="form-inline" name="personForm">
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Full Name</label>
        <label for="find-form-first-name" id="prvaKolonaLabela" >{{user.fullName}}</label>								
        <input *ngIf="onEditButton == true" [(ngModel)]="newFullName"  name="newF" >	
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Username</label>
        <label for="find-form-first-name" id="prvaKolonaLabela">{{user.username}}</label>    
        <input *ngIf="onEditButton == true" [(ngModel)]="newUsername" name="newU" >									
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Email Address</label>
        <label for="find-form-first-name" id="prvaKolonaLabela" >{{user.email}}</label>	
        
        <input *ngIf="onEditButton == true" [(ngModel)]="newEmail" name="newE">									
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Phone number</label>
        <label for="find-form-first-name" id="prvaKolonaLabela" >{{user.mobile}}</label>
        <input *ngIf="onEditButton == true" [(ngModel)]="newMobile" name="newM" >								
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Gender</label>
        <label for="find-form-first-name" id="prvaKolonaLabela" >{{user.gender}}</label>
        <select *ngIf="onEditButton == true" [(ngModel)]="newGender" name="new" required>
            <option value="option1" >male</option>
            <option value="option2" >female</option>
        </select>									
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Birth date</label>
        <label for="find-form-first-name" id="prvaKolonaLabela" >{{user.birthDate}}</label>
        <mat-form-field id="matt" *ngIf="onEditButton == true" class="example-full-width" appearance="fill">
            <mat-label>Birth date</mat-label>
            <input  matInput [matDatepicker]="picker3" [(ngModel)]="newBirthDate" name = "birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>									
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Website</label>
        <label for="find-form-first-name" id="prvaKolonaLabela" >{{user.website}}</label>
        
        <input *ngIf="onEditButton == true" name="newW" [(ngModel)]="newWebsite">									
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Bio</label>
        <label for="find-form-first-name" id="prvaKolonaLabela" >{{user.biography}}</label>	
        
        <input *ngIf="onEditButton == true" name="newB" [(ngModel)]="newBiography" >							
    </div>

    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Public</label>
        <label *ngIf="user.isPublic">public</label>
        <label *ngIf="!user.isPublic">private</label>
        <select *ngIf="onEditButton == true" [(ngModel)]="newProfileType" name="new" required>
            <option value="option1" >private</option>
            <option value="option2" >public</option>
        </select>									
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Receive messages from people you don't follow?</label>
        <label *ngIf="user.receiveMessages">yes</label>
        <label *ngIf="!user.receiveMessages">no</label>
        <select *ngIf="onEditButton == true" [(ngModel)]="newReceiveMessages" name="new" required>
            <option value="option1" >yes</option>
            <option value="option2" >no</option>
        </select>									
    </div>
    <div class="form-group">
        <label for="find-form-first-name" id="prvaKolonaLabela">Enable tags from people you don't follow?</label>
        <label *ngIf="user.enableTags">yes</label>
        <label *ngIf="!user.enableTags">no</label>
        <select *ngIf="onEditButton == true" [(ngModel)]="newEnableTags" name="new" required>
            <option value="option1" >yes</option>
            <option value="option2" >no</option>
        </select>									
    </div>
    <button *ngIf="onEditButton != true" (click)="onEditProfile()">Edit profile</button>
    <button *ngIf="onEditButton == true" (click)="onSubmit()">Submit changes</button>
    <button *ngIf="onEditButton != true" (click)="onVerifyProfile()">Verify profile</button>
</form>